
@{
    Layout = null;
}

<!--
<div>Merhaba</div>
<br />
<h2>Selam</h2>
    -->

<h3>Mvc Kamp Tablo Örneği-Kategori</h3>
<br />
<table>
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Kategori Açıklama</th>
        <th>Kategori Durum</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>